{% include "header.html" %}

<!--Homepage Banner-->
<div class="container-fluid" style="text-align: center; padding: 0; position: relative;">
    <img style="width: 100%" src="static/banner.jpg">
    <h1 style="width: 50%; color: white; position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%);">
        <strong>FIND THE BEST COFFEE PLACES FOR REMOTE WORK</strong></h1>
    <p style="width: 40%; color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        From Coffee shops, lobbies & study houses, Wifi Brew is the ultimate guide for where to work outside the
        office</p>
    <a style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%);" href="explore" class="myButton">Explore
        Cities</a>
    <p style="width: 40%; color: white; position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%);">
        Nothing listed in your area :(</p>
    <a style="width: 40%; color: white; position: absolute; top: 85%; left: 50%; transform: translate(-50%, -50%);"
       href="suggest">Suggest a spot</a>
</div>
<!--Features-->
<div class="container text-center ms-auto" style="padding: 100px;">
    <div class="row align-items-start">
        <div class="col-sm">
            <img src="static/laptop.png" width="15%">
            <h2>Be Productive</h2>
            <p>Find venues with reliable Wi-Fi, ample power sockets, and comfy seating areas.</p>
        </div>
        <div class="col-sm">
            <img src="static/happy.png" width="15%">
            <h2>Feel Welcome</h2>
            <p>Discover the best times to work, based on community data.</p>
        </div>
        <div class="col-sm">
            <img src="static/creativity.png" width="15%">
            <h2>Stay Inspired</h2>
            <p>Uncover new places with laid-back ambiance, and friendly vibes.</p>
        </div>
    </div>
</div>
<!--description-->
<div class="container-fluid text-center ms-auto" style="">
    <div class="row align-items-start">
        <div class="col">
            <hr width="50%" style="margin: auto">
            <p style="padding: 60px 0px; width: 70%; margin: auto; font-size: 20px">WifiBrew partners with local venues
                that
                appreciate and support the remote worker culture. All locations are carefully inspected and manually
                approved by our curation team.</p>
            <hr width="50%" style="margin: auto">
        </div>
    </div>
</div>
<!--how it works-->
<div class="container text-center" style="padding: 100px 0px 30px">
    <div class="row align-items-start">
        <div class="col">
            <h2 style="padding-bottom: 20px">How it Works</h2>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img src="static/map.png" style="width: 90%; padding-bottom: 20px">
            <h3>Find Local Work Hubs</h3>
            <p>Quiet? Air conditioned? Well lit? Get stuff done in a fresh, new environment that’s optimized for
                you!</p>
        </div>
        <div class="col">
            <img src="static/people.jpg" style="width: 80%; padding-bottom: 20px">
            <h3>Meet like Minded People</h3>
            <p>Connect with talented freelancers, digital nomads, and other remote workers sharing our spaces.</p>
        </div>
    </div>
</div>
<!--CTA-->
<div class="container-fluid text-center ms-auto" style="padding-bottom: 20px">
    <div class="row align-items-start">
        <div class="col">
            <h1><strong>Get to Work</strong></h1>
            <a style="margin: 20px 0px" href="explore" class="myButton">Explore Cities</a>
            <p>Nothing listed in your area :(</p>
            <a href="suggest">Suggest a spot</a>
        </div>
    </div>
</div>

{% include "footer.html" %}
